[Unit]
Description=Meran: envia mail de prestamos vencidos en el contenedor %i

[Service]
Type=simple
ExecStart=/usr/bin/docker exec -d %i /cron/mail_prestamos_vencidos