[Unit]
Description=Descargar portadas en la mañana y a media tarde

[Timer]
OnCalendar=Mon,Tue,Wed,Thu,Fri *-*-* 7,12:30:00

[Install]
WantedBy=default.target